<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.changhong.chislab">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shopdemo"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name="com.example.shopdemo.PaySuccessNewVersion"
            android:exported="false" />
        <activity
            android:name="com.example.shopdemo.ShowMap"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.shopdemo.VoiceCommandOrder"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.shopdemo.AuthActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.shopdemo.PayActivity2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.shopdemo.device_loc"
            android:exported="false" />
        <activity
            android:name=".activity.PointPayActivity"
            android:exported="false" />
        <activity
            android:name="com.example.shopdemo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.shopdemo.mufis.RegisterService"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_ACTIVITY" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>